APIKEY=your APIKEY
PORT= the PORT that you want example 3000 or 8000
DATABASE_URL=postgres://"your username":"your password"@localhost:5432/"the database name"

my data:-
DATABASE_URL=postgres://fuad:1999@localhost:5432/movieL

APIKEY=8c46fc1f2e5fdd365359e8a982ca6c8a 
PORT=3000

DATABASE_URL=postgres://fuad:1999@localhost:5432/movieL


postgres://wltwwhepkguzdk:5b421e56260ba3db4c014be84522434154bd38681bb5687bc2fe1d9de3dc6684@ec2-52-31-217-108.eu-west-1.compute.amazonaws.com:5432/d2oood1ucva4e0